<script>
$(function() {
	$( "#accordion" ).accordion({
	});
});
</script>


<div id='wel'><h2 align='center' style="color:#2781BA">Welcome to the Blog Application!</h2><hr id='welcome'/></div>
<div class='leftnav'>
<ul>
<% if blogger_signed_in? %> 
	<% if (current_blogger.detail.role.eql?('su')) or (current_blogger.detail.role.eql?('admin')) %>
		<li><%= link_to 'Add new User', new_blogger_registration_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'View all Users', show_blogger_registration_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'View all Blogs', blogs_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'View all Discussions', discussions_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'Sign Out', destroy_blogger_session_url, method: :delete %><hr /></li>
	<% elsif blogger_signed_in? && current_blogger.detail.role.eql?('normal') %>
		<li><%= link_to 'New Blog', new_blog_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'My Blogs', blogs_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'New Discussion', new_discussion_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'My Discussions', discussions_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'Sign Out', destroy_blogger_session_url, method: :delete %><hr /></li>
	<% end %>

<% else %>
<li><%= link_to 'View Blogs', blogs_url %><hr /></li>
<br /><br />
<li><%= link_to 'View Discussions', discussions_url %><hr /></li>
<br /><br />
<li><%= link_to 'Sign In', new_blogger_session_path %><hr /></li>
<% end %>
</ul>
</div>
<div class='rightnav'>
<div class='main'>
	<h1 align='center' style="color:#2781BA">Listing Discussions</h1><hr />
	<p id="notice"><%= notice %></p>
<div id='accordion'>
	<% if blogger_signed_in? and @discussions != nil %>
		<% @discussions.each do |discussion| %>
			<h3><b><%= link_to discussion.topic, discussion_url(discussion) %>&nbsp;<% if current_blogger.detail.role.eql?("admin") -%>by <%=discussion.blogger.detail.firstname+" "+discussion.blogger.detail.lastname %><% end -%></b></h3><div><b><%= link_to 'Read & Respond', discussion_url(discussion) %></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%= link_to 'Edit', edit_discussion_path(discussion) %></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%= link_to 'Delete', discussion, method: :delete, data: { confirm: 'Are you sure?' } %></b><br /><br />
			<div class='blog'><p id='bl'><%= discussion.detail %></p></div><br /><div class='blog'><p id='com'><b>Responses:</b><%= render discussion.responses %></div></div>
		<% end %>
	<% elsif @discussions != nil %>
		<% @discussions.each do |discussion| %>
			<h3><b><%= link_to discussion.topic, discussion_url(discussion) %></b></h3><div><b><%= link_to 'Read & Respond', discussion_url(discussion) %></b><br /><br />
			<div class='blog'><p id='bl'><%= discussion.detail %></p></div><br /><div class='blog'><p id='com'><b>Responses:</b><%= render discussion.responses %></div></div>
		<% end %>		
	<% end %>
</div>
        <br />
        <%= link_to 'New Discussion', new_discussion_path %>
</div>
</div>
